.new__board {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.25px solid rgb(206, 206, 206);
  border-radius: 10px;
  width: 30%;
  height: 160px;
  margin-left: 35%;
  margin-right: 35%;
  cursor: pointer;
  p {
    margin-bottom: 0;
    font-size: 2rem;
    opacity: 50%;
  }
  &:hover,
  &:focus,
  &:active {
    background-color: rgb(240, 240, 240);
    border-color: #0070f3;
    color: #0070f3;
  }
}

@media (max-width: 900px) {
  .new__board {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.25px solid rgb(206, 206, 206);
    border-radius: 10px;
    width: 30%;
    height: 90px;
    margin-left: 35%;
    margin-right: 35%;
    cursor: pointer;
    p {
      margin-bottom: 0;
      font-size: 1rem;
      opacity: 50%;
    }
    &:hover,
    &:focus,
    &:active {
      background-color: rgb(240, 240, 240);
      border-color: #0070f3;
      color: #0070f3;
    }
  }
}

@media (max-width: 520px) {
  .new__board {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.25px solid rgb(206, 206, 206);
    border-radius: 10px;
    width: 30%;
    height: 50px;
    margin-left: 35%;
    margin-right: 35%;
    cursor: pointer;
    p {
      margin-bottom: 0;
      font-size: 0.5rem;
      opacity: 50%;
    }
    &:hover,
    &:focus,
    &:active {
      background-color: rgb(240, 240, 240);
      border-color: #0070f3;
      color: #0070f3;
    }
  }
}
